body {
  padding : 0;
  margin : 0;
  font-family : sans-serif;
}

.app {
  display : flex;
  flex-direction: column;
  width : 100%;
  height : 100%;
}
.header {
  text-align : center;
  padding : 20px 0;
}
.header h1 {
  margin : 0 0 10px 0;
}
.header select {
  font-size : 1rem;
  padding : 5px;
}
#slideShow {

  background-color : #333;
  height : 400px;
  max-width : 100%;
/*   padding : 10px 0px; */
}
.slide{
  position : absolute;
  top : 0;
  bottom : 0;
  left : 0;
  right : 0;
  background-repeat : no-repeat;
  background-size : contain;
  background-position : center center;
}